.container  {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.item {
  align-self: flex-end;
  height: 200px;

}

.green {
  background-color: rgb(27, 233, 27);
  width: 25%;
}

.yellow {
  background-color: rgb(253, 253, 18);
  width: 50%;
}

.purple {
  background-color: rgb(202, 5, 202);
  width: 25%;
}