.container  {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item {
  align-self: flex-end;
  width: 100%;

}

.green {
  background-color: rgb(27, 233, 27);
  height: 200px;
}

.yellow {
  background-color: rgb(253, 253, 18);
  height: 200px;
}

.purple {
  background-color: rgb(202, 5, 202);
  height: 400px;
}