<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <title>Photo gallery</title>
</head>
<body>
  <h1>Pandas</h1>
  <div class="viewer">
    <div class="arrow-box previous"><img src="/static/images/download.svg"></div>
    <div class="main-photo">
      <img src= <%= photos[0].img %>>
      <div class="text">
        <h2><%= photos[0].title %></h2>
        <p><%= photos[0].description %></p>
      </div>
    </div>
    <div class="arrow-box next"><img src="/static/images/download.svg"></div>
  </div>
  <ul class="thumbnails">
    <% for(let i=0; i < photos.length; i++) { %>
      <li>
        <img src= <%= photos[i].img %>>
      </li>
    <% } %>
  </ul>
</body>
</html>