.container  {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.item {
  align-self: flex-end;
  width: 200px;
  height: 200px;
}

.green {
  background-color: rgb(27, 233, 27);
  width: 25%;
}

.yellow {
  background-color: rgb(253, 253, 18);
  width: 50%;
}

.purple {
  background-color: rgb(202, 5, 202);
  width: 25%;
}

@media screen and (max-width: 800px) {
  .container {
    flex-wrap: wrap;
  }

  .item {
    width: 100%;
  }
}