.container {
  border: 1px solid black;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template: repeat(6, 1fr) / repeat(7, 1fr);
  background-color: black;
  grid-gap: 2px;
}

.sunflower {
  background-color: #FFC312;
}

.green {
  background-color: #009432;
  display: grid;
  grid-template: 4.5fr 7fr 4.5fr / 1fr 1fr 10px;
}

.barared {
  background-color: #ED4C67;
  grid-area: 2 / 2 / span 1 /span 1;
  text-align: center;
  padding: calc(30px + 8vw);
  color: aliceblue;
  font-size: calc(5px + 2vw);
}

p {
  text-align: center;
  font-size: calc(5px + 2vw);
  transform: rotate(-45deg);
}